{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Masthead -->  
    <main id="home" class="masthead jarallax" style="background-image:url('img/bg/personal.jpg');" id="content" role="main">
      <div class="opener">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-5">
              <h1>Salom, Men Fazliddinman.</h1>
              <p class="lead mt-4 mb-5">Mening hayotim omad,tasodifiy holatlar va qiziqarli kunlarga boy</p>
              <button type="button" class="btn" data-toggle="modal" data-target="#send-request">Xabar yo'llash</button>
          </div>
          </div>
        </div>
      </div>
    </main>

    <!-- About -->
    <section id="about" class="section">
     <div class="container">
       <h2 data-aos="fade-up">Men haqimda</h2>
       <section class="mt-4">
          <div class="row">
            <div class="col-md-6 col-lg-5 mb-5 mb-md-0" data-aos="fade-up">
              {% for about in about %}
              {% autoescape off %}
              <p>{{about.text}} </p>
              {% endautoescape %}
              <div class="experience d-flex align-items-center">
                <div class="experience-number text-parallax">{{about.num}}</div><div class="text-dark mt-3 ml-4">Yillik<br> tajriba</div>
              </div>
              {% endfor %}
            </div>
            <div class="col-md-5 offset-lg-2" data-aos="fade-in" data-aos-delay="50">
              {% for kn in known_Languages %}
              <h6 class="mt-0">{{kn.name}}</h6>
              <div class="progress mb-5">
                <div class="progress-bar" role="progressbar" data-aos="width" style="width: {{kn.pers}}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
              {% endfor %}

            </div>
          </div>
        </section>
      </div>
    </section>
    
    <section class="section bg-dark">
     <div class="container">
        <div class="container">
          <div class="row">
            <div class="col-md-4 mb-4 mb-md-0" data-aos="fade-in">
              
              <h6 class="text-white">HTML,CSS & BOOTSTRAP</h6>
              <p>Men bu tillarni o'rganishni yaqinda boshladim va shu portfolio saytni ham shu tillar orqali tuzdim</p>
            </div>
            <div class="col-md-4 mb-4 mb-md-0" data-aos="fade-in" data-aos-delay="150">
              
              <h6 class="text-white">C++</h6>
              <p>C++ bu dasturlash tillarining otasi hisoblanadi va har bir dasturchi bu tilni bilishi kerak deb o'ylayman</p>
            </div>
            <div class="col-md-4" data-aos="fade-in" data-aos-delay="300">
              
              <h6 class="text-white">Arduino & Scratch</h6>
              <p>Men robotlarni avtomatlashtirishga qiziqaman shuning uchun ham men 'Arduino' ni o'rgandim</p>
            </div>
          </div>
          </div>
      </div>
    </section>
      
     <!-- Experience -->
     <section id="experience" class="section pb-0">
      <div class="container">
        <div class="row align-items-end">
          <div class="col-md-6" data-aos="fade-up"><h2 class="mb-3 mb-md-0">Tajribam</h2></div>
          
        </div>
        <div class="mt-5 pt-5"></div>
        {% for ex in experience %}
        {% if ex.bold %}
        
          <div class="row-experience row justify-content-between" data-aos="fade-up">
            <div class="col-md-4">
              <div class="h6 my-0 text-gray pt-3">{{ex.name_language}}</div>
            </div>
            <div class="col-md-4">
              <h5 class="mb-3 mt-0 text-uppercase pt-3">{{name_project}}</h5>
            </div>
            <div class="col-md-4">
              {% autoescape off %}
              <span>{{ex.desc}}</span>
              {% endautoescape %}
            </div>
          </div>
        {% else %}
          <div class="row-experience row justify-content-between" data-aos="fade-up">
            <div class="col-md-4">
              <div class="h6 my-0 text-gray pt-3">{{ex.name_language}}</div>
            </div>
            <div class="col-md-4">
              <h5 class="mb-3 mt-0 text-uppercase pt-3">{{ex.name_project}}<br></h5>
            </div>
            <div class="col-md-4">
              {% autoescape off %}
              <span>{{ex.desc}}</span>
              {% endautoescape %}
            </div>
          </div>
        {% endif %}
        {% endfor %}
<!--           <div class="row-experience row justify-content-between" data-aos="fade-up">
            <div class="col-md-4">
              <div class="h6 my-0 text-gray">HTML , CSS & BOOTSTRAP</div>
              
            </div>
            <div class="col-md-4">
              <h5 class="mb-3 mt-0 text-uppercase">Portfolio</h5>
            </div>
            <div class="col-md-4">
              <p>Bu tillarni o'rganishni yaqinda boshlaganim sababli ko'p narsa qilishga ulgurmadim, ammo o'zim haqimda portfolio qildim</p>
              <p>Yaqin orada uzwebschool.com ishga tushadi</p>
            </div>
          </div> -->
          
        
      </div>
    </section>
    
    <!-- Projects -->
    <section id="projects" class="section">
     <div class="container">
        <div class="row align-items-end">
          <div class="col-md-6" data-aos="fade-up"><h2 class="mb-3 mb-md-0">Loyihalarim</h2></div>
          
        </div>
        {% for pro in projects %}
        <div class="mt-5 pt-5" data-aos="fade-in">
          <div class="carousel-project owl-carousel">
           <div class="project-item">
              <a href="#project1" class="popup-with-zoom-anim">
                <figure class="position-relative">
                  <img alt="" class="w-100" src="{{pro.image.url}}">
                  <figcaption class="text-white">
                    <h3 class="mb-2 text-white">{{pro.name}}</h3>
                  </figcaption>
                </figure>
              </a>
           </div>
         </div>
        </div>
        {% endfor %}
      </div>
    </section>

    <!-- Project Modal Dialog 1 -->
    

    
    <!-- Testimonials -->
    <section id="testimonials" class="testimonials section">
      <div class="container">
         <div class="carousel-testimonials owl-carousel">
          {% for a in achievements %}
           <div class="col-testimonial" data-aos="fade-up">
              {% autoescape off %}
              <p data-aos="fade-up">{{a.text}}</p>
              {% endautoescape %}
           </div>
           {% endfor %}

              
           </div>
           
         </div>
       </div>
    </section>

     <!-- News -->
    
    <!-- Partners -->
    


    <!-- Footer -->  
 {% endblock %}